# 1. Business Understanding

The goal of this project is how the use of alcohol on weekend or on workdays affects students grades.
Also, does it affect students alcohol usage if they have internet connection at home or not.

# 2. Data Understanding
The dataset is available at the UCI Machine Learning Repository, with the following link: https://archive.ics.uci.edu/dataset/320/student+performance

In [22]:
from ucimlrepo import fetch_ucirepo
import numpy as np
import pandas as pd

student_performance = fetch_ucirepo(id=320)

X = student_performance.data.features
y = student_performance.data.targets

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,4
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,6
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,0
5,GP,M,16,U,LE3,T,4,3,services,other,...,yes,yes,no,5,4,2,1,2,5,6
6,GP,M,16,U,LE3,T,2,2,other,other,...,yes,yes,no,4,4,4,1,1,3,0
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,yes,no,no,4,1,4,1,1,1,2
8,GP,M,15,U,LE3,A,3,2,services,other,...,yes,yes,no,4,2,2,1,1,1,0
9,GP,M,15,U,GT3,T,3,4,other,other,...,yes,yes,no,5,5,1,1,1,5,0
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,yes,yes,no,3,3,3,1,2,2,2
11,GP,F,15,U,GT3,T,2,1,services,other,...,yes,yes,no,5,2,2,1,1,4,0
12,GP,M,15,U,LE3,T,4,4,health,services,...,yes,yes,no,4,3,3,1,3,5,0
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,yes,yes,no,5,4,3,1,2,3,0
14,GP,M,15,U,GT3,A,2,2,other,other,...,yes,yes,yes,4,5,2,1,1,3,0
15,GP,F,16,U,GT3,T,4,4,health,other,...,yes,yes,no,4,4,4,1,2,2,6
16,GP,F,16,U,GT3,T,4,4,services,services,...,yes,yes,no,3,2,3,1,2,2,10
17,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,5,3,2,1,1,4,2
18,GP,M,17,U,GT3,T,3,2,services,services,...,yes,yes,no,5,5,5,2,4,5,2
19,GP,M,16,U,LE3,T,4,3,health,other,...,yes,yes,no,3,1,3,1,3,5,6

The dataset contains 649 records and 30 features.

In [23]:
X.shape, y.shape

((649, 30), (649, 3))

In [24]:
print(student_performance.variables)

          name     role         type      demographic  \
0       school  Feature  Categorical             None
1          sex  Feature       Binary              Sex
2          age  Feature      Integer              Age
3      address  Feature  Categorical             None
4      famsize  Feature  Categorical            Other
5      Pstatus  Feature  Categorical            Other
6         Medu  Feature      Integer  Education Level
7         Fedu  Feature      Integer  Education Level
8         Mjob  Feature  Categorical       Occupation
9         Fjob  Feature  Categorical       Occupation
10      reason  Feature  Categorical             None
11    guardian  Feature  Categorical             None
12  traveltime  Feature      Integer             None
13   studytime  Feature      Integer             None
14    failures  Feature      Integer             None
15   schoolsup  Feature       Binary             None
16      famsup  Feature       Binary             None
17        paid  Feature       Binary             None
18  activities  Feature       Binary             None
19     nursery  Feature       Binary             None
20      higher  Feature       Binary             None
21    internet  Feature       Binary             None
22    romantic  Feature       Binary             None
23      famrel  Feature      Integer             None
24    freetime  Feature      Integer             None
25       goout  Feature      Integer             None
26        Dalc  Feature      Integer             None
27        Walc  Feature      Integer             None
28      health  Feature      Integer             None
29    absences  Feature      Integer             None
30          G1   Target  Categorical             None
31          G2   Target  Categorical             None
32          G3   Target      Integer             None

                                          description units missing_values
0   student's school (binary: 'GP' - Gabriel Perei...  None             no
1   student's sex (binary: 'F' - female or 'M' - m...  None             no
2              student's age (numeric: from 15 to 22)  None             no
3   student's home address type (binary: 'U' - urb...  None             no
4   family size (binary: 'LE3' - less or equal to ...  None             no
5   parent's cohabitation status (binary: 'T' - li...  None             no
6   mother's education (numeric: 0 - none,  1 - pr...  None             no
7   father's education (numeric: 0 - none,  1 - pr...  None             no
8   mother's job (nominal: 'teacher', 'health' car...  None             no
9   father's job (nominal: 'teacher', 'health' car...  None             no
10  reason to choose this school (nominal: close t...  None             no
11  student's guardian (nominal: 'mother', 'father...  None             no
12  home to school travel time (numeric: 1 - <15 m...  None             no
13  weekly study time (numeric: 1 - <2 hours, 2 - ...  None             no
14  number of past class failures (numeric: n if 1...  None             no
15      extra educational support (binary: yes or no)  None             no
16     family educational support (binary: yes or no)  None             no
17  extra paid classes within the course subject (...  None             no
18    extra-curricular activities (binary: yes or no)  None             no
19        attended nursery school (binary: yes or no)  None             no
20  wants to take higher education (binary: yes or...  None             no
21        Internet access at home (binary: yes or no)  None             no
22   with a romantic relationship (binary: yes or no)  None             no
23  quality of family relationships (numeric: from...  None             no
24  free time after school (numeric: from 1 - very...  None             no
25  going out with friends (numeric: from 1 - very...  None             no
26  workday alcohol consumption (numeric: from 1 -...  None             no
27  weekend alcohol consumption (numeric: from 1 -...  None             no
28  current health status (numeric: from 1 - very ...  None             no
29  number of school absences (numeric: from 0 to 93)  None             no
30         first period grade (numeric: from 0 to 20)  None             no
31        second period grade (numeric: from 0 to 20)  None             no
32  final grade (numeric: from 0 to 20, output tar...  None             no

The dataset contains student-related attributes, including demographic, academic, and behavioral characteristics. It includes both numerical and categorical values describing students' background, study habits, and extracurricular activities. The dataset also contains students' grades (G1, G2, and G3), which represent their performance in different periods, with G3 being the final grade. The dataset does not contain missing values.

In [25]:
X.head(20)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,yes,no,no,4,3,4,1,1,3,4
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,yes,yes,no,5,3,3,1,1,3,2
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,yes,yes,no,4,3,2,2,3,3,6
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,yes,yes,3,2,2,1,1,5,0
4,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,4,3,2,1,2,5,0
5,GP,M,16,U,LE3,T,4,3,services,other,...,yes,yes,no,5,4,2,1,2,5,6
6,GP,M,16,U,LE3,T,2,2,other,other,...,yes,yes,no,4,4,4,1,1,3,0
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,yes,no,no,4,1,4,1,1,1,2
8,GP,M,15,U,LE3,A,3,2,services,other,...,yes,yes,no,4,2,2,1,1,1,0
9,GP,M,15,U,GT3,T,3,4,other,other,...,yes,yes,no,5,5,1,1,1,5,0
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,yes,yes,no,3,3,3,1,2,2,2
11,GP,F,15,U,GT3,T,2,1,services,other,...,yes,yes,no,5,2,2,1,1,4,0
12,GP,M,15,U,LE3,T,4,4,health,services,...,yes,yes,no,4,3,3,1,3,5,0
13,GP,M,15,U,GT3,T,4,3,teacher,other,...,yes,yes,no,5,4,3,1,2,3,0
14,GP,M,15,U,GT3,A,2,2,other,other,...,yes,yes,yes,4,5,2,1,1,3,0
15,GP,F,16,U,GT3,T,4,4,health,other,...,yes,yes,no,4,4,4,1,2,2,6
16,GP,F,16,U,GT3,T,4,4,services,services,...,yes,yes,no,3,2,3,1,2,2,10
17,GP,F,16,U,GT3,T,3,3,other,other,...,yes,no,no,5,3,2,1,1,4,2
18,GP,M,17,U,GT3,T,3,2,services,services,...,yes,yes,no,5,5,5,2,4,5,2
19,GP,M,16,U,LE3,T,4,3,health,other,...,yes,yes,no,3,1,3,1,3,5,6

In [26]:
features = ["Dalc", "Walc", "internet"]
target = "G3"

X.loc[:, "internet"] = X["internet"].map({"yes": 1, "no": 0})

X_features = X[features]
y_features = y[target]

X_features.head(20)

    Dalc  Walc internet
0      1     1        0
1      1     1        1
2      2     3        1
3      1     1        1
4      1     2        0
5      1     2        1
6      1     1        1
7      1     1        0
8      1     1        1
9      1     1        1
10     1     2        1
11     1     1        1
12     1     3        1
13     1     2        1
14     1     1        1
15     1     2        1
16     1     2        1
17     1     1        0
18     2     4        1
19     1     3        1

In [29]:
y_features.head(100)

0     11
1     11
2     12
3     14
4     13
      ..
95    13
96    11
97    12
98    13
99    13
Name: G3, Length: 100, dtype: int64